{% extends "base.html" %}
{% set title = 'Home' %}

{% block content %}
<div class="content-wrap">
    <div>
        <p>Placeholder content</p>
        {% if current_user.is_authenticated %}
        <a href="/account">Account</a>
        <a href='#'>Create Document - Coming soon</a><!-- "/create/document" -->
        <a href="/create/spreadsheet">Create Spreadsheet</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}
    </div>
</div>
{% endblock %}